[data-md-color-scheme="slate"] {
    --md-hue: 220;
    --md-default-bg-color: hsla(0, 0%, 14%, 0.6);
    --md-code-bg-color: hsla(0, 0%, 0%, 0.2);
}

.md-grid > .md-logo img {
    width: 1.75rem;
    height: 1.75rem;
}

body {
    background: url("../assets/background.png") center / cover fixed, transparent;
}

.md-typeset h1 {
    color: #fff;
}

.blur {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5rem);
    -webkit-backdrop-filter: blur(5rem);
}

.md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link,
.md-nav--secondary .md-nav__title {
    background: none;
    box-shadow: none;
}

[data-md-color-scheme="slate"] .md-main,
[data-md-color-scheme="slate"] .md-tabs,
[data-md-color-scheme="slate"] .md-footer,
[data-md-color-scheme="slate"] .md-header {
    background-color: hsla(0, 0%, 0%, 0.3);
}

.md-typeset .admonition,
.md-typeset details {
    background-color: transparent;
}

[data-md-color-scheme="slate"] .md-header {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.md-footer-meta {
    background-color: transparent;
}

.db-image {
    width: 80%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 0 5rem #1a1818;
    border: 2px solid #868282;
}